<h1 class="fw-bold mb-5 mt-5 text-black text-center">Available Types</h1>

<table mat-table [dataSource]="iceCreamTypes" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let icecream; let i = index">
      {{ icecream.id }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let icecream; let i = index">
      {{ icecream.name }}
    </td>
  </ng-container>


  

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
