.buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #f195b2;
  border-radius: 5px;
  color: #f195b2;
  display: inline;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  width: 20%;
}

button:hover,
button:active,
button:focus,
button:disabled {
  background-color: #f195b2;
  color: #fff;
}

.icecream-type-alert {
  color: #fff;
  border-radius: 5px;
  width: 80%;
}
