<div class="container-fluid position-relative nav-bar p-0" id="navbar">
  <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9">
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
      <a  routerLink="/" class="navbar-brand d-block d-lg-none">
        <h1 class="m-0 display-4 text-primary">
          <span class="text-secondary">i</span>CREAM
        </h1>
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarCollapse"
      >
        <div class="navbar-nav ms-auto py-0">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item nav-link"
            >Home</a
          >
          <a
            routerLink="/about"
            routerLinkActive="active"
            class="nav-item nav-link"
            >About</a
          >
          <a
            routerLink="/products"
            routerLinkActive="active"
            class="nav-item nav-link"
            >Products</a
          >
        </div>
        <a routerLink="/" class="navbar-brand mx-5 d-none d-lg-block">
          <h1 class="m-0 display-4 text-primary">
            <span class="text-secondary">i</span>CREAM
          </h1>
        </a>
        <div class="navbar-nav me-auto py-0">
          <a
            routerLink="/services"
            routerLinkActive="active"
            class="nav-item nav-link"
            >Services</a
          >
          <a
            routerLink="/login"
            routerLinkActive="active"
            class="nav-item nav-link"
            >Login</a
          >
          <a
          routerLink="/register"
          routerLinkActive="active"
            class="nav-item nav-link"
            >Signup</a
          >
        </div>
      </div>
    </nav>
  </div>
</div>
