$primary: #f195b2;
$secondary: #62c3e7;
$light: #ffffff;
$dark: #333333;

table {
  width: 100%;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

.primary-btn {
  border: transparent;
  border-radius: 5px;
  background-color: $primary;
}

label {
  display: block;
  margin-bottom: 5px;
}

button:hover {
  transition: transform 0.2s;
  transform: scale(1.3);
}

.btn-modal:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
